/*
    MIXINS      - Contains mixins to be used in our projects
*/

/*------------------------------------*\
    $FONT
\*------------------------------------*/
@function px2rem($px) {
    @return ($px / $gmc-global-font-size);
}


/* Font size and line height mixin */
@mixin font-style($font-size, $line-height: false) {
    font-size: px2rem($font-size) + rem; /* #{$font-size} */

    @if $line-height != false {
        line-height: ($line-height / $font-size); /* #{$line-height} */
    }
}

/*------------------------------------*\
    $INTERACTIVE STATES
\*------------------------------------*/

// Prevents hover styles from being applied on touch devices
@mixin only-if-hover-supported {
    @media (hover: hover) and (pointer: fine), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}