.c-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 51px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-family: $gmc-checkbox-font;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  height: 44px;

  &-wrapper {
    margin-bottom: 1rem;
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      &:focus ~ .c-checkbox__marker {
        background: $gmc-checkbox-background-color;
      }
    }

    &:focus ~ .c-checkbox__marker {
      border: $gmc-checkbox-border-hover;
    }
  }

  /* Custom checkbox */
  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-color: $gmc-checkbox-background-color;
    border: $gmc-checkbox-border;
    box-sizing: border-box;
    border-radius: 4px;

    /* Create and style the marker */
    &:after {
      content: "";
      position: absolute;
      opacity: 0;
      transition: opacity $gmc-checkbox-transition;
      left: 15px;
      top: 9px;
      width: 7px;
      height: 14px;
      border: solid $gmc-checkbox-check-color;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .c-checkbox__marker {
    border: $gmc-checkbox-border-hover;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .c-checkbox__marker {
    background-color: $gmc-checkbox-checked-background-color;
    border: $gmc-checkbox-checked-border;
    transition: background-color $gmc-checkbox-transition;

    &:hover {
      background-color: $gmc-checkbox-checked-background-hover-color;
    }
  }

  /* Show the marker when checked */
  input:checked ~ .c-checkbox__marker:after {
    opacity: 1;
    transition: opacity $gmc-checkbox-transition;
  }
}
