﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    HPCB Global Trumps - HPCB global variable overrides

    Page            - Page variable overrides
    Header          - Dimensions for page layout
    Display         - Contains variable for display values
    Hero Button     - Variables for the button inside the header component
    Radio Button    - Variables for radio button component
    Related content - Variables for the related content component
    Document Status - Variables for the document status component
    Cookie Banner   - Variables for the cookie banner
*/

/*------------------------------------*\
    $PAGE
\*------------------------------------*/

$body-display: flex;
$main-padding-top: 5rem;
$main-padding-right: 0;
$main-padding-bottom: 0;
$main-padding-left: 0;
$line-height: 1.75;

/*------------------------------------*\
    $Header
\*------------------------------------*/
$header-box-shadow: 0 2px 6px 0 rgba(222,222,222,0.5);
$header-height: auto;
$header-width: 100%;
$header-content-height: 5rem;

/*------------------------------------*\
    Display
\*------------------------------------*/
$share-tools-display: none;

/*------------------------------------*\
    $Hero Button
\*------------------------------------*/
$hero-h1-padding-top: 2.9375rem;

/*------------------------------------*\
    $RELATED CONTENT
\*------------------------------------*/
$relatedContent-heading-weight: 700;

/*------------------------------------*\
    $Document Status
\*------------------------------------*/
$image-fallback-padding-top: 0rem;

/*------------------------------------*\
    $Cookie Banner
\*------------------------------------*/
$gmc-cookieBanner-heading-font-weight: 700;