.c-button-group {
  &__list {
    padding: 0;
  }

  &__option {
    background-color: $gmc-buttonGroup-background-colour;
    border: $gmc-buttonGroup-border $gmc-buttonGroup-border-colour;
    box-sizing: border-box;
    border-radius: $gmc-buttonGroup-border-radius;
    color: $gmc-buttonGroup-colour;
    cursor: pointer;
    display: inline-block;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: $gmc-buttonGroup-font-size;
    line-height: $gmc-buttonGroup-line-height;
    margin-right: $gmc-buttonGroup-margin-right;
    padding: $gmc-buttonGroup-padding;
    user-select: none;

    &:hover {
      background-color: $gmc-buttonGroup-background-hover-colour;
      border: $gmc-buttonGroup-border-hover $gmc-buttonGroup-border-hover-colour;
    }

    &--selected {
      &:hover {
        background-color: $gmc-buttonGroup-selected-background-hover-colour;
        color: $gmc-buttonGroup-selected-hover-colour;
      }

      background-color: $gmc-buttonGroup-selected-background-colour;
      color: $gmc-buttonGroup-selected-colour;
    }

    &--margin {
      margin-top: $gmc-buttonGroup-breakline-margin;
    }
  }
}
