/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLORS (GLOBAL)   - Global colour variables used within all projects (updated)
    GLOBAL TEXT                         - Global text colour variables used within all projects (updated)
    GLOBAL HEADINGS                     - Global heading colour variables used within all projects (updated)
    GLOBAL LINKS                        - Global link colour variables used within all projects (updated)
    GLOBAL BORDERS                      - Global border colour variables used within all projects (updated)
    GLOBAL DIVIDERS                     - Global divider colour variables used within all projects (updated)
    GLOBAL STATE                        - Global state colour variables used within all projects (updated)
    BUTTONS                             - Colours for button components (updated)
    BREADCRUMB                          - Colours for breadcrumb component (updated)
    CARD                                - Colours for the card component (updated)
    CASE STUDY                          - Colours for case study components (updated)
    CONTACT PANEL BUTTON                - Colours for the contact panel sticky button (updated)
    CONTACT PANEL                       - Colours for the contact panel component (updated)
    COOKIE BANNER                       - Colours for the cookie banner component (updated)
    COPYRIGHT                           - colours for the copyright component (updated)
    CUSTOM SCROLL                       - Colours for custom scroll bar helper classes (updated)
    DIALOGUE MESSAGE                    - Colours for dialogue message component
    DOCUMENT STATUS                     - Colours for the document status component (updated)
    FOOTER                              - Colours for the footer component (updated)
    HEADER                              - Colours for the header component (updated)
    HIGHLIGHTED AREA                    - Colours for highlighted area (updated)
    IMAGE                               - Colours for the image component (updated)
    INFOPODCTA                          - Colours for infopodcta (updated)
    INLINE LIST                         - Colours for the inline list component (updated)
    LANGUAGE TOGGLE                     - Colours for language toggle component (updated)
    LINKS                               - Colours for all default link states (updated)
    LINK ICONS                          - Colours for the link icons classes
    LIVEPERSON                          - Colours for live person (updated)
    MOBILE NAV TOGGLE                   - Colours for the mobbile nav toggle button (updated)
    MODAL                               - Colours for modal component (updated)
    NAVIGATION                          - Colours for the nav component (updated)
    NUMBEREDLIST                        - Colours for the numbered list component (updated)
    PROGRESS                            - Colours for progress bar component (updated)
    RADIO BUTTON                        - Colours for radio button component (updated)
    STRIP                               - Colours for the strip component (updated)
    TABLE                               - Colours for table elements (updated)
    SELECT                              - Colours for the select component
    CHECKBOX                            - Colours for the checkbox component
    TEXTINPUT                           - Colours for the text input component
    BUTTONGROUP                         - Colours for the button group component
*/

/*------------------------------------*\
    $GMC DESIGN SYSTEM COLORS (GLOBAL)
\*------------------------------------*/
$gmc-amber: #ffb800;
$gmc-amber--light: #fffcf0;
$gmc-black: #000000;
$gmc-blue: #145885;
$gmc-blue--dark: #34495e;
$gmc-blue--light: #f3faff;
$gmc-blue--mid: #dcf1ff;
$gmc-blue-grey: #f4f7fa;
$gmc-green: #258325;
$gmc-green--light: #f7fff7;
$gmc-grey: #919191;
$gmc-grey--dark: #757575;
$gmc-grey--extra-dark: #4a4a4a;
$gmc-grey--extra-light: #f8f8f8;
$gmc-grey--light: #e6e6e6;
$gmc-grey--mid: #c2c2c2;
$gmc-red: #a71627;
$gmc-red--light: #fff9fa;
$gmc-orange: #f39200;
$gmc-white: #ffffff;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-text-colour: $gmc-black;
$gmc-secondary-text-colour: $gmc-grey--dark;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-heading-colour: $gmc-black;

/*------------------------------------*\
    $GLOBAL BORDER COLOURS
\*------------------------------------*/
$gmc-primary-border-colour: $gmc-grey--light;

/*------------------------------------*\
    $GLOBAL DIVIDER COLOURS
\*------------------------------------*/
$gmc-primary-divider-colour: $gmc-grey--light;

/*------------------------------------*\
    $GLOBAL LINK COLOURS
\*------------------------------------*/
$gmc-primary-link-colour: $gmc-blue;

/*------------------------------------*\
    $GLOBAL STATE COLOURS
\*------------------------------------*/
/*
 Error state colour variables
*/
$gmc-primary-error-colour: $gmc-red;
$gmc-primary-error-background-colour: $gmc-red--light;
/*
 Success state colour variables
*/
$gmc-primary-success-colour: $gmc-green;
$gmc-primary-success-background-colour: $gmc-green--light;
/*
 Warning state colour variables
*/
$gmc-primary-warning-colour: $gmc-amber;
$gmc-primary-warning-background-colour: $gmc-amber--light;
/*
 Complete state colour variables
*/
$gmc-primary-complete-colour: $gmc-green;
$gmc-primary-complete-background-colour: $gmc-green--light;

/*
 info
 confirm
 disable
 busy
 idle
 available
 offline
*/

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
$gmc-breadcrumb-background-colour: $gmc-white;
$gmc-breadcrumb-text-colour: $gmc-primary-text-colour;
$gmc-breadcrumb-link-colour: $gmc-primary-link-colour;
$gmc-breadcrumb-chevron-colour: $gmc-grey--mid;

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/*
 Primary Button colour variables
*/
$gmc-primary-button-border-colour: $gmc-blue;
$gmc-primary-button-text-colour: $gmc-white;
$gmc-primary-button-text-hover-colour: $gmc-blue;
$gmc-primary-button-background-colour: $gmc-blue;
$gmc-primary-button-background-hover-colour: $gmc-blue--light;

/*
 Primary white Button colour variables
*/
$gmc-primary-white-button-border-colour: $gmc-white;
$gmc-primary-white-button-text-colour: $gmc-blue;
$gmc-primary-white-button-text-hover-colour: $gmc-white;
$gmc-primary-white-button-background-colour: $gmc-white;
$gmc-primary-white-button-background-hover-colour: $gmc-blue;

/*
 Secondary button colour variables
*/
$gmc-secondary-button-border-colour: $gmc-grey--light;
$gmc-secondary-button-border-colour-hover: $gmc-blue;
$gmc-secondary-button-text-colour: $gmc-blue;
$gmc-secondary-button-background-colour: $gmc-white;
$gmc-secondary-button-background-hover-colour: $gmc-blue--light;
$gmc-secondary-button-text-hover-colour: $gmc-blue;

/*
Strip Button colour variables (Need to remove strip specific button and decide what button variations strip uses instead)
*/
$gmc-strip-primary-button-border-colour: $gmc-blue--light;
$gmc-strip-primary-button-text-colour: $gmc-blue;
$gmc-strip-primary-button-text-hover-colour: $gmc-blue--light;
$gmc-strip-primary-button-background-colour: $gmc-blue--light;
$gmc-strip-primary-button-background-hover-colour: $gmc-blue;
$gmc-strip-primary-button-link-text-colour: $gmc-blue;
$gmc-strip-primary-button-link-text-hover-colour: $gmc-blue--light;

$gmc-strip-light-button-border-colour: $gmc-blue--light;
$gmc-strip-light-button-background-colour: $gmc-blue--light;
$gmc-strip-light-button-background-hover-colour: $gmc-blue;
$gmc-strip-light-button-link-text-colour: $gmc-blue;
$gmc-strip-light-button-link-text-hover-colour: $gmc-blue--light;

/*------------------------------------*\
    $CARD
\*------------------------------------*/
$gmc-card-border-colour: $gmc-primary-border-colour;
$gmc-card-divider-colour: $gmc-primary-divider-colour;

/*------------------------------------*\
    $CASE STUDY
\*------------------------------------*/
$gmc-caseStudyAnswers-active-answer-background-colour: $gmc-blue-grey;
$gmc-caseStudyAnswers-active-answer-border-colour: $gmc-primary-border-colour;
$gmc-caseStudyAnswers-icon-background-colour: $gmc-white;
$gmc-caseStudyAnswers-symbol-colour: $gmc-white;
$gmc-caseStudyFeedback-score-colour: $gmc-blue;
$gmc-caseStudyQuestion-number-text-colour: $gmc-blue;
$gmc-caseStudyQuestion-number-background-colour: $gmc-blue--mid;
$gmc-caseStudyQuestion-number-border-colour: $gmc-primary-border-colour;
$gmc-caseStudyQuestion-buttons-group-border-top-colour: $gmc-primary-border-colour;
$gmc-caseStudyReminder-background-colour: $gmc-blue-grey;
$gmc-caseStudyReminder-border-colour: $gmc-primary-border-colour;
$gmc-caseStudyReview-best-answer-label-link-colour: $gmc-blue;
$gmc-caseStudyReview-best-answer-divider-colour: $gmc-primary-divider-colour;
$gmc-caseStudyReview-print-heading-colour: $gmc-orange;
$gmc-caseStudySummary-background-colour: $gmc-blue-grey;
$gmc-caseStudySummary-border-colour: $gmc-primary-border-colour;
$gmc-caseStudy-print-heading-colour: $gmc-blue;
$gmc-caseStudy-print-subheading-colour: $gmc-blue;
$gmc-caseStudy-print-divider-colour: $gmc-orange;

/*------------------------------------*\
    $CONTACT PANEL BUTTON
\*------------------------------------*/
$gmc-contactPanelButton-outer-circle-colour: $gmc-orange;
$gmc-contactPanelButton-inner-circle-colour: $gmc-blue--dark;
$gmc-contactPanelButton-inner-circle-font-colour: $gmc-white;

/*------------------------------------*\
    $CONTACT PANEL
\*------------------------------------*/
$gmc-contactPanel-background-colour: $gmc-white;
$gmc-contactPanel-header-background-colour: $gmc-blue--dark;
$gmc-contactPanel-header-border-bottom-colour: $gmc-orange;
$gmc-contactPanel-close-icon-colour: $gmc-white;
$gmc-contactPanel-section-border-bottom-colour: $gmc-primary-border-colour;
$gmc-contactPanel-header-title-colour: $gmc-white;
$gmc-contactPanel-support-text-colour: $gmc-primary-text-colour;

/*------------------------------------*\
    $COOKIE BANNER
\*------------------------------------*/
$gmc-cookieBanner-background-colour: $gmc-blue--dark;
$gmc-cookieBanner-text-colour: $gmc-white;
$gmc-cookieBanner-button-background-colour: $gmc-white;
$gmc-cookieBanner-button-text-colour: $gmc-blue--dark;
$gmc-cookieBanner-button-hover-background-colour: $gmc-blue--dark;
$gmc-cookieBanner-button-border-colour: $gmc-white;
$gmc-cookieBanner-button-text-hover-colour: $gmc-white;
$gmc-cookieBanner-link-text-colour: $gmc-white;
$gmc-cookieBanner-link-text-hover-colour: $gmc-white;

/*------------------------------------*\
    $COPYRIGHT
\*------------------------------------*/
$gmc-copyright-text-colour: $gmc-grey--mid;

/*------------------------------------*\
    $CUSTOM SCROLL
\*------------------------------------*/
$gmc-custom-scroll-thumb-background-colour: $gmc-blue;
$gmc-custom-scroll-track-background-colour: $gmc-grey--light;
$gmc-custom-scroll-light-background-colour: $gmc-white;

/*------------------------------------*\
    $DIALOGUE MESSAGE
\*------------------------------------*/
$gmc-dialogueMessage-background-colour: $gmc-grey--extra-light !default;
$gmc-dialogueMessage-border-colour: $gmc-grey--mid !default;
$gmc-dialogueMessage-error-background-colour: $gmc-red--light !default;
$gmc-dialogueMessage-error-border-colour: $gmc-red !default;
$gmc-dialogueMessage-error-icon-colour: $gmc-red !default;
$gmc-dialogueMessage-error-heading-text-colour: $gmc-red !default;
$gmc-dialogueMessage-success-background-colour: $gmc-green--light !default;
$gmc-dialogueMessage-success-border-colour: $gmc-green !default;
$gmc-dialogueMessage-success-icon-colour: $gmc-green !default;
$gmc-dialogueMessage-success-heading-text-colour: $gmc-green !default;
$gmc-dialogueMessage-warning-background-colour: $gmc-amber--light !default;
$gmc-dialogueMessage-warning-border-colour: $gmc-amber !default;
$gmc-dialogueMessage-warning-icon-colour: $gmc-grey--extra-dark !default;
$gmc-dialogueMessage-warning-heading-text-colour: $gmc-grey--extra-dark !default;
$gmc-dialogueMessage-info-header-text-colour: $gmc-grey--extra-dark !default;
$gmc-dialogueMessage-info-icon-colour: $gmc-blue !default;
$gmc-dialogueMessage-info-heading-text-colour: $gmc-grey--extra-dark !default;

/*------------------------------------*\
    $DOCUMENT STATUS
\*------------------------------------*/
$gmc-documentStatus-image-fallback-background-colour: $gmc-blue;
$gmc-documentStatus-image-fallback-text-colour: $gmc-white;

/*------------------------------------*\
    $BUTTON GROUP
\*------------------------------------*/
$gmc-buttonGroup-background-colour: $gmc-white;
$gmc-buttonGroup-border-colour: $gmc-grey;
$gmc-buttonGroup-colour: $gmc-grey--dark;
$gmc-buttonGroup-background-hover-colour: $gmc-blue--light;
$gmc-buttonGroup-border-hover-colour: $gmc-blue;
$gmc-buttonGroup-selected-background-hover-colour: $gmc-blue;
$gmc-buttonGroup-selected-background-colour: $gmc-blue;
$gmc-buttonGroup-selected-colour: $gmc-white;
$gmc-buttonGroup-selected-hover-colour: $gmc-white;

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
$gmc-primary-footer-background-colour: $gmc-grey--dark;
$gmc-primary-footer-heading-colour: $gmc-white;

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
$gmc-header-background-colour: $gmc-white;

/*------------------------------------*\
    $HIGHLIGHTED AREA
\*------------------------------------*/
$gmc-highlightedArea-border-colour: $gmc-grey--light;
$gmc-highlightedArea-background-colour: $gmc-blue--light;
$gmc-highlightedArea-secondary-background-colour: $gmc-white;

/*------------------------------------*\
    $IMAGE
\*------------------------------------*/
$gmc-image-caption-background-colour: $gmc-white;

/*------------------------------------*\
    $IMAGE LINK PROMO
\*------------------------------------*/
$gmc-imageLinkPromo-text-colour: $gmc-primary-text-colour;
$gmc-imageLinkPromo-heading-colour: $gmc-primary-text-colour;
$gmc-imageLinkPromo-content-text-colour: $gmc-primary-text-colour;

/*------------------------------------*\
    $INLINE LIST
\*------------------------------------*/
$gmc-inlineList-link-colour: $gmc-white;
$gmc-inlineList-link-interaction-colour: $gmc-white;
$gmc-inlineList-item-link-colour: $gmc-white;
$gmc-inlineList-item-pipe-colour: $gmc-white;

/*------------------------------------*\
    $INFO BUBBLE
\*------------------------------------*/
$gmc-infoBubble-trigger-border-colour: $gmc-blue;
$gmc-infoBubble-trigger-text-hover-colour: $gmc-blue;
$gmc-infoBubble-popup-background-colour: $gmc-blue--dark;
$gmc-infoBubble-popup-text-colour: $gmc-white;

/*------------------------------------*\
    $INFOPODCTA
\*------------------------------------*/
$gmc-infopodCTA-background-colour: $gmc-blue-grey;
$gmc-infopodCTA-heading-colour: $gmc-black;

/*------------------------------------*\
    $INFORMATION ALERT BANNER
\*------------------------------------*/
$gmc-informationAlertBanner-background-colour: $gmc-blue--dark;
$gmc-informationAlertBanner-text-colour: $gmc-white;
$gmc-informationAlertBanner-divider-colour: $gmc-blue--dark;

/*------------------------------------*\
    $LANGUAGE TOGGLE
\*------------------------------------*/
$gmc-languageToggle-chevron-colour: $gmc-grey;
$gmc-languageToggle-header-icon-colour: $gmc-grey;

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
$gmc-link-primary-colour: $gmc-blue;
$gmc-link-primary-visited-colour: $gmc-blue;
$gmc-link-primary-hover-colour: $gmc-blue;
$gmc-link-primary-active-colour: $gmc-blue;
$gmc-link-primary-focus-colour: $gmc-blue;

/*------------------------------------*\
    $LINK ICONS
\*------------------------------------*/
$gmc-linkIcons-primary-colour: $gmc-link-primary-colour;

/*------------------------------------*\
    $LIVEPERSON
\*------------------------------------*/
$gmc-livePerson-chat-button-background-hover-colour: $gmc-blue--dark;
$gmc-livePerson-chat-button-hover-colour: $gmc-white;

/*------------------------------------*\
    $MOBILE NAV TOGGLE
\*------------------------------------*/
$gmc-mobileNavToggle-colour: $gmc-secondary-text-colour;
$gmc-mobileNavToggle-border-colour: $gmc-grey--light;

/*------------------------------------*\
    $MODAL
\*------------------------------------*/
$gmc-modal-background-colour: $gmc-white;
$gmc-modal-content-text-colour: $gmc-primary-text-colour;
$gmc-modal-content-heading-colour: $gmc-blue;
$gmc-modal-overlay-background-colour: $gmc-grey--dark;
$gmc-modal-content-background-colour: $gmc-white;

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
$gmc-primaryNav-link-colour: $gmc-primary-text-colour;
$gmc-primaryNav-link-hover-colour: $gmc-secondary-text-colour;
$gmc-primaryNav-link-border-top-hover-colour: $gmc-blue; // main brand colour so the purple for hpcb and so forth
$gmc-primaryNav-chevron-colour: $gmc-grey--dark;
$gmc-primaryNav-toggle-icon-colour: $gmc-blue; // main brand colour so the purple for hpcb and so forthv
$gmc-primaryNav-link-open-border-bottom-colour: $gmc-blue; // main brand colour so the purple for hpcb and so forth
$gmc-primaryNav-mobile-background-colour: $gmc-white;
$gmc-secondaryNav-desktop-link-colour: $gmc-secondary-text-colour;
$gmc-secondaryNav-dropdown-shadow: rgba(97, 98, 120, 0.33);
$gmc-secondaryNav-list-mobile-background-colour: $gmc-grey--extra-light;
$gmc-secondaryNav-list-desktop-background-colour: $gmc-white;
$gmc-secondaryNav-desktop-border-top-colour: $gmc-blue; // main brand colour so the purple for hpcb and so forth
$gmc-secondaryNav-link-background-colour: $gmc-white;
$gmc-secondaryNav-link-hover-colour: $gmc-blue; // main brand colour so the purple for hpcb and so forth
$gmc-nav-mobile-border-separator-colour: $gmc-primary-divider-colour;

/*------------------------------------*\
    $NUMBEREDLIST
\*------------------------------------*/
$gmc-numberedList-background-colour: $gmc-blue--mid;
$gmc-numberedList-text-colour: $gmc-blue;

/*------------------------------------*\
    $PROGRESS
\*------------------------------------*/
$gmc-progress-percentage-text-colour: $gmc-blue;
$gmc-progress-percentage-text-complete-colour: $gmc-primary-complete-colour;
$gmc-progress-bar-colour: $gmc-blue--mid;
$gmc-progress-value-colour: $gmc-blue;
$gmc-progress-value-complete-colour: $gmc-primary-complete-colour;

/*------------------------------------*\
    $RADIO BUTTON
\*------------------------------------*/
$gmc-radioButton-background-colour: $gmc-white;
$gmc-radioButton-outer-circle-background-colour: $gmc-white;
$gmc-radioButton-outer-circle-border-colour: $gmc-blue;
$gmc-radioButton-inner-circle-colour: $gmc-blue;

/*------------------------------------*\
    $STRIP
\*------------------------------------*/
$gmc-strip-dark-colour: $gmc-white;
$gmc-strip-dark-link-colour: $gmc-white;
$gmc-strip-dark-background-colour: $gmc-blue;
$gmc-strip-light-background-colour: $gmc-grey--extra-light;

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
$gmc-table-header-cell-background-color: $gmc-blue--mid;

/*------------------------------------*\
    $SELECT
\*------------------------------------*/
$gmc-dropdown-focus-border-color: $gmc-blue;
$gmc-dropdown-border-color: $gmc-grey;
$gmc-dropdown-error-border-color: $gmc-primary-error-colour;
$gmc-dropdown-error-background-color: $gmc-primary-error-background-colour;
$gmc-dropdown-error-color: $gmc-red;
$gmc-dropdown-option-color: $gmc-black;

/*------------------------------------*\
    $CHECKBOX
\*------------------------------------*/
$gmc-checkbox-background-color: $gmc-white;
$gmc-checkbox-border-color: $gmc-grey;
$gmc-checkbox-border-hover-color: $gmc-blue;
$gmc-checkbox-checked-border-color: $gmc-blue;
$gmc-checkbox-checked-background-color: $gmc-blue--light;
$gmc-checkbox-checked-background-hover-color: $gmc-white;
$gmc-checkbox-check-color: $gmc-blue;

/*------------------------------------*\
    $TEXTINPUT
\*------------------------------------*/
$gmc-text-input-border-color: $gmc-grey;
$gmc-text-input-focus-border-color: $gmc-blue;
$gmc-text-input-placeholder-color: $gmc-grey;
$gmc-text-input-error-border-color: $gmc-primary-error-colour;
$gmc-text-input-error-background: $gmc-primary-error-background-colour;
$gmc-text-input-error-placeholder-color: $gmc-red;
