/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    IMPORTS - Contains imports for font types
    LEGACYMIXINS  - Contains scss mixins for brand fonts
    FONTS   - Contains font defenitions
    CUSTOM  - Contains breakpoints and custom legacy font types
*/

/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*------------------------------------*\
    $LEGACYMIXINS
\*------------------------------------*/
@mixin font-primary {
    font-family: $font-primary;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}

@mixin font-headings {
    font-family: $font-headings;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}

/*------------------------------------*\
    $FONTWEIGHTS
\*------------------------------------*/
$font-weight-normal: normal;
$font-weight-heavier: 500;
$font-weight-bold: 700;
$font-weight-lighter: lighter;

/*------------------------------------*\
    $FONTS
\*------------------------------------*/
$font-primary: "Roboto", sans-serif;
$font-headings: "Roboto", sans-serif;

/*------------------------------------*\
    $IMAGELINKPROMO
\*------------------------------------*/
$promo-header-size: 1.125rem;
$promo-content-size: 1rem;

$font-headlines: "Roboto", sans-serif;

$font-button: $font-primary;
$font-weight-button-icon: 900;

// Font Stacks
$font-body: "Roboto", sans-serif;
$font-heading: $font-headlines;

//PRIMARY TYPEFACE
$font-headings: "Roboto", sans-serif;
$paragraph-size: 16px;
$font-headings: "Roboto", sans-serif;
$font-headline: quatro-slab, serif;
$paragraph: roboto, sans-serif;
$font-headings-light: quatro-slab, serif;
$font-headings-medium: quatro-slab, serif;
$font-headings-bold: quatro-slab, serif;
$font-secondary: "Georgia", serif;

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/* base font size: 16px (not refactored to 10px to avoid issues with em based sizing)
    .625rem    10px
    .75rem     12px
    .8125 rem  13px
    .875rem    14px
    .9375rem   15px
    1rem        16px
    1.125rem    18px
    1.25rem     20px
    1.3125rem   21px
    1.375rem    22px
    1.5rem      24px
    1.5625rem   25px
    1.625rem    26px
    1.75rem     28px
    1.875rem    30px
    2rem        32px
    2.125rem    34px
    2.1875rem   35px
    2.5rem      40px
    2.625rem    47px
    3rem        48px
    3.125rem    50px
    3.875rem    62px

*/

// Responsive Font Size Mapping
$breakpoints: (
    tablet-only: "min-width: 46.25em) and (max-width:61.188em",
    tablet: "min-width: 46.25em",
    desktop: "min-width: 61.25em",
    wide: "min-width: 81.25em",
);

// Left reference is break point, right values are font-size and line-height
$body-font-sizes: (
    null: (
        1rem,
        1.6667,
    ),
    // Mobile Default
    tablet-only:
        (
            1.125rem,
            1.6667,
        ),
    // Tablet Portrait Only
    tablet:
        (
            1.125rem,
            1.6667,
        ),
    // Tablet Portrait
    desktop:
        (
            1rem,
            1.875,
        ),
    // Desktop & Tablet Landscape
    wide:
        (
            1rem,
            1.875,
        )
        // Desktop Widescreen,,,,,,,,,,
);

$h1-font-sizes: (
    null: (
        2.1875rem,
        1.34,
    ),
    tablet-only: (
        2.1875rem,
        1.34,
    ),
    tablet: (
        2.1875,
        1.34,
    ),
    desktop: (
        3.25rem,
        1.19,
    ),
    wide: (
        3.25rem,
        1.19,
    ),
);
$h2-font-sizes: (
    null: (
        1.5rem,
        1.1,
    ),
    tablet-only: (
        1.5rem,
        1.1,
    ),
    tablet: (
        1.5rem,
        1.1,
    ),
    desktop: (
        1.5rem,
        1.1,
    ),
    wide: (
        1.5rem,
        1.1,
    ),
);
$h3-font-sizes: (
    null: (
        1.1rem,
        1.3,
    ),
    tablet-only: (
        1.1rem,
        1.3,
    ),
    tablet: (
        1.1rem,
        1.3,
    ),
    desktop: (
        1.1rem,
        1.3,
    ),
    wide: (
        1.1rem,
        1.3,
    ),
);
$h4-font-sizes: (
    null: (
        1rem,
        1.3,
    ),
    tablet-only: (
        1rem,
        1.3,
    ),
    tablet: (
        1rem,
        1.3,
    ),
    desktop: (
        1rem,
        1.3,
    ),
    wide: (
        1.25rem,
        1.3,
    ),
);
$h5-font-sizes: (
    null: (
        1.5rem,
        1.3,
    ),
    tablet-only: (
        1.5rem,
        1.3,
    ),
    tablet: (
        1.5rem,
        1.3,
    ),
    desktop: (
        1.5rem,
        1.3,
    ),
    wide: (
        1.5rem,
        1.3,
    ),
);
$h6-font-sizes: (
    null: (
        1rem,
        1.3,
    ),
    tablet-only: (
        1rem,
        1.3,
    ),
    tablet: (
        1rem,
        1.3,
    ),
    desktop: (
        1rem,
        1.3,
    ),
    wide: (
        1rem,
        1.3,
    ),
);

$small-font-sizes: (
    null: (
        .875rem,
        1.3,
    ),
    // Mobile Default
    tablet-only:
        (
            .875rem,
            1.3,
        ),
    // Tablet Portrait Only
    tablet:
        (
            .875rem,
            1.3,
        ),
    // Tablet Portrait
    desktop:
        (
            .875rem,
            1.3,
        ),
    // Desktop & Tablet Landscape
    wide:
        (
            .875rem,
            1.3,
        )
        // Desktop Widescreen,,,,,,,,,,
);

$smaller-font-sizes: (
    null: (
        .75rem,
        1.3,
    ),
    // Mobile Default
    tablet-only:
        (
            .75rem,
            1.3,
        ),
    // Tablet Portrait Only
    tablet:
        (
            .75rem,
            1.3,
        ),
    // Tablet Portrait
    desktop:
        (
            .75rem,
            1.3,
        ),
    // Desktop & Tablet Landscape
    wide:
        (
            .75rem,
            1.3,
        )
        // Desktop Widescreen,,,,,,,,,,
);
