@import '../../global/settings/_settings.fonts';

/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    IMPORTS - Contains imports for font types
    MIXINS  - Contains scss mixins for brand fonts
    FONTS   - Custom fonts used within HPCB
*/

/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');


/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
@mixin font-primary {
    font-family: $font-primary;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}
@mixin font-headings {
    font-family: $font-headings;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}

/*------------------------------------*\
    $FONTS
\*------------------------------------*/
$font-primary: quatro-slab, serif;
$font-headings: roboto, serif;

$font-button: $font-primary;