﻿@import '../../global/settings/_settings.colors';

/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLOURS (INTRANET)  - Intranet colour variables
    GLOBAL TEXT COLOURS                   - Global text colour variables used within Intranet
    GLOBAL LINK COLOURS                   - Global link colour variables used within Intranet
    BUTTONS                               - Colours for button components
    BREADCRUMB                            - Colours for breadcrumb component
    HIGHLIGHTEDAREA                       - Colors for highlighted area
    INFOPODCTA                            - InfopodCTA color overrides
    LINKS                                 - Colours for all default link states
    STRIP                                 - Colours for the strip component
    TABLE                                 - Colours for table elements
*/

/*------------------------------------*\
    $GMC DESIGN SYSTEM COLOURS (INTRANET)
\*------------------------------------*/
$intranet-black: #1d1d1b;
$intranet-blue: #155884;
$intranet-blue--light: #f1f9fe;
$intranet-blue--mid: #dcf1ff;
$intranet-orange: #f39200;
$intranet-orange--light: #fdefd9;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-text-colour: $intranet-black;

/*------------------------------------*\
    $GLOBAL LINK COLOURS
\*------------------------------------*/
$gmc-primary-link-colour: $intranet-blue;

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
$gmc-breadcrumb-text-colour: $intranet-black;
$gmc-breadcrumb-link-colour: $intranet-black;
$gmc-breadcrumb-chevron-colour: $intranet-orange;

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/*
 Primary Button colour variables
*/
$gmc-primary-button-border-colour: $intranet-blue;
$gmc-primary-button-text-hover-colour: $intranet-blue;
$gmc-primary-button-background-colour: $intranet-blue;
$gmc-primary-button-background-hover-colour: $intranet-blue--light;

/*
 Primary White Button colour variables
*/
$gmc-primary-white-button-text-colour: $intranet-blue;
$gmc-primary-white-button-background-hover-colour: $intranet-blue;

/*
 Secondary Button colour variables
*/
$gmc-secondary-button-border-colour: $intranet-blue;
$gmc-secondary-button-text-colour: $intranet-blue;
$gmc-secondary-button-text-hover-colour: $intranet-blue;
$gmc-secondary-button-background-hover-colour: $intranet-blue--light;

/*
 Light Button colour variables
*/
$gmc-light-button-border-colour-hover: $intranet-blue;
$gmc-light-button-text-colour: $intranet-blue;
$gmc-light-button-background-hover-colour: $intranet-blue--light;

/*
Strip Button colour variables (Need to remove strip specific button and decide what button variations strip uses instead)
*/
$gmc-strip-primary-button-border-colour: $intranet-blue--light;
$gmc-strip-primary-button-text-colour: $intranet-blue;
$gmc-strip-primary-button-text-hover-colour: $intranet-blue--light;
$gmc-strip-primary-button-background-colour: $intranet-blue--light;
$gmc-strip-primary-button-background-hover-colour: $intranet-blue;
$gmc-strip-primary-button-link-text-colour: $intranet-blue;
$gmc-strip-primary-button-link-text-hover-colour: $intranet-blue--light;

$gmc-strip-light-button-border-colour: $intranet-blue--light;
$gmc-strip-light-button-background-colour: $intranet-blue--light;
$gmc-strip-light-button-background-hover-colour: $intranet-blue;
$gmc-strip-light-button-link-text-colour: $intranet-blue;
$gmc-strip-light-button-link-text-hover-colour: $intranet-blue--light;

/*------------------------------------*\
    $HIGHLIGHTEDAREA
\*------------------------------------*/
$gmc-highlightedArea-border-colour: $intranet-orange;
$gmc-highlightedArea-background-colour: $intranet-orange--light;

/*------------------------------------*\
    $INFOPODCTA
\*------------------------------------*/
$gmc-infopodCTA-background-colour: $intranet-blue--light;
$gmc-infopodCTA-heading-colour: $intranet-blue;

/*------------------------------------*\
    $LINKS 
\*------------------------------------*/
$gmc-link-primary-colour: $intranet-blue;
$gmc-link-primary-visited-colour: $intranet-blue;
$gmc-link-primary-hover-colour: $intranet-blue;
$gmc-link-primary-active-colour: $intranet-blue;
$gmc-link-primary-focus-colour: $intranet-blue;

/*------------------------------------*\
    $STRIP
\*------------------------------------*/
$gmc-primary-strip-background-colour: $intranet-blue;

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
$gmc-table-header-cell-background-color: $intranet-blue--mid;