.c-text-input {
  &__input {
    padding: 1rem;
    border: $gmc-text-input-border;
    border-radius: 4px;
    height: 46px;
  
    &:focus {
      border: $gmc-text-input-focus-border;
      outline: 0;
      padding: 10px;
    }
  
    &::placeholder {
      color: $gmc-text-input-placeholder-color;
      font-size: 16px;
      line-height: 28px;
    }
  }

  &--error {
    .c-text-input__input {
      border: $gmc-text-input-error-border;
      background: $gmc-text-input-error-background;
  
      &::placeholder {
        color: $gmc-text-input-error-placeholder-color;
      }
    }
  }
}